<?xml version="1.0"?>
<robot name="kobuki_yd" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name = "imuNoise" default = "0.00000196"/>
  <xacro:arg name = "lidarNoise" default = "0.0014"/>

  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find kobuki_yd)/urdf/ydlidar.urdf.xacro" />

  <xacro:kobuki imu_noise = "$(arg imuNoise)"/>

  <ydlidar_model parent="lidar_bottom" lidar_noise = "$(arg lidarNoise)">  
	<origin xyz="0 0 0" rpy="0 0 0" />    
  </ydlidar_model>



</robot>
