<!-- Launches Kobuki Gazebo simulation in an empty world -->
<launch>
  <!-- start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find kobuki_yd)/worlds/imu_collection_friction.world"/>
  </include>
  <!-- spawn the robot -->
  <arg name="robot_name" value="mobile_base_with_yd"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kobuki_yd)/urdf/kobuki_yd.urdf.xacro' 'imuNoise:=0.13' 'lidarNoise:=0.00013'"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)"
        args="-x 0 -y 0 -z 1.5 -unpause -urdf -param robot_description -model $(arg robot_name)" respawn="false">
  </node>

  <!-- Monitoring -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_nodelet_manager" args="manager"/>
  


  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <remap from = "/imu_data" to = "/mobile_base/sensors/imu_data"/>
  </node>

  <include file="$(find kobuki_keyop)/launch/keyop.launch"/>
  <node pkg="rosbag" type="record" name="bag_recorder" args="record -a --duration=1m /chatter -O /home/joel/bagfiles/$(arg bagfile_name)/$(arg bagfile_name).bag" output="screen" required = "true"/>

</launch>  
